<header>
    <h1><a routerLink="/">{{title}}</a></h1>
    <nav>
        <a href="http://pramod.click/">
            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                </svg>
        </a>
        @for (n of navigation; track $index) {
            @if(n.active === "true") {
                <a href="{{n.link}}" aria-current="page">{{n.title}}</a>
            } @else {
                <a href="{{n.link}}">{{n.title}}</a>
            }
        }
        <div class="theme">Theme</div>
    </nav>
    <div class="header-search">
    <input
        class="main-search-input"
        type="search"
        placeholder="Search Here..."
    />
    </div>
</header>