.btn {
    cursor: pointer;
    padding: 0.5rem 1rem;
    border: 1px solid #ef1532;
    border-radius: 5px;
    background-color: #ef1527;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
}