<ul id="accordian">
    <li class="wrapper">
        <a href="javascript:void(0)" data-accordian="active" class="question-container">What is Memoization?</a>
        <p class="answer-container">
            Memoization is a smart way to make your functions faster by storing and reusing their past results.
        </p>
    </li>
    <li class="wrapper">
        <a href="javascript:void(0)" data-accordian="inactive" class="question-container">What is TypeScript?</a>
        <p class="answer-container">
            JavaScript is a loosely typed language, meaning variables are defined and their types are determined at runtime. Unlike dynamic typing, where types are determined at runtime, static typing allows TypeScript to catch type-related errors early during development, improving code quality and reducing bugs.
        </p>
    </li>
    <li class="wrapper">
        <a href="javascript:void(0)" data-accordian="inactive" class="question-container">When to Use !!?</a>
        <ul class="answer-container">
            <li>
                Use !! only when you truly need a boolean value.
            </li>
            <li>
                When converting a truthy/falsy value into a boolean explicitly.
            </li>
        </ul>
    </li>
    <li class="wrapper">
        <a href="javascript:void(0)" data-accordian="inactive" class="question-container">
            Purpose of unknown type in typescript
        </a>
        <p class="answer-container">
            In TypeScript, the unknown type is used to represent a value that could be any type, but unlike any, it forces you to perform type-checking before doing anything with the value. It’s safer than any because it requires you to narrow the type before use. Forces type checks before usage.
        </p>
    </li>
    <li class="wrapper">
        <a href="javascript:void(0)" data-accordian="inactive" class="question-container">
            What is Closure
        </a>
        <p class="answer-container">
            A closure is a function that retains access to its lexical scope even when the outer function is executed. Closures are created every time a function is created.
        </p>
    </li>
</ul>