<h1>{{ postDetails.heading }}</h1>
<div *ngFor="let item of postDetails.content" [innerHTML]="getSanitizedHtml(item)" style="display: contents"></div>
<!-- <div *ngFor="let detail of postDetails.details">
  <ng-container *ngIf="detail.includes(':'); else content">
    <ng-container *ngIf="detail.includes('-'); else heading">
      <h3>{{ detail }}</h3>
    </ng-container>
    <ng-template #heading>
      <h2>{{ detail }}</h2>
    </ng-template>
  </ng-container>
  <ng-template #content>
    <p>{{ detail }}</p>
  </ng-template>
</div> -->
<pre *ngIf="postRoute === 'useReducer_hook_better_than_useState'"><code>
import React, &#123; useReducer &#125; from 'react';
const initialState = &#123; count: 0 &#125;;

const reducer = (state, action) => &#123;
  switch (action.type) &#123;
    case 'increment':
      return &#123; count: state.count + 1 &#125;;
    case 'decrement':
      return &#123; count: state.count - 1 &#125;;
    default:
      return state;
  &#125;
&#125;;

function Counter() &#123;
  const [state, dispatch] = useReducer(reducer, initialState);

  return (
    &lt;div&gt;
      &lt;p&gt;Count: &#123;state.count&#125;&lt;/p&gt;
      &lt;button onClick=&#123;() => dispatch(&#123; type: 'increment' &#125;)&#125;&gt;Increment&lt;/button&gt;
      &lt;button onClick=&#123;() => dispatch(&#123; type: 'decrement' &#125;)&#125;&gt;Decrement&lt;/button&gt;
    &lt;/div&gt;
  );
&#125;
</code></pre>
<pre *ngIf="postRoute === 'understanding_closures'"><code [innerHTML]="codeBlock"></code></pre>

<!-- <h5><a routerLink="/blog">Back to Blog</a></h5> -->